<h1><%= @movie.title %> (<%= @movie.year %>)</h1>
<h3>a <%= @movie.genre %> film </h3>
<br/>
<% @movie.actors_by_age.each do |actor| %>
  <p><%= actor.name %></p>
<% end %>
<br/>
<p>Average Age of Actors: <%= @movie.avg_actors_age %></p>
<br/>
<%= form_tag "/movies/#{@movie.id}/actors" do %>
<%= label_tag :actor_name, "Actor Name:" %>
<%= text_field_tag :actor_name %>
<br/>
<%= submit_tag "Add Actor" %>
<% end %>
